<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.BGCContracting.scheduling.Projects</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddInValidSubProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddValidCrew</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifySubproject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddInvalidCrew</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DeleteSubProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DeleteSiteAdministrators</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddSiteAdministrators</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddValidSubProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddSiteSuperindent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddBudget</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DeleteSiteSuperindent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EditSubProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DeleteCrew</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
