<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:22:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.AddBudget()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">AddBudget</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:21:27</td>   <td>-43032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.AddInValidSubProject()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">AddInValidSubProject</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:23:15</td>   <td>64374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.AddInvalidCrew()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">AddInvalidCrew</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:23:59</td>   <td>108229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.AddSiteAdministrators()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">AddSiteAdministrators</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:24:51</td>   <td>160164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.AddSiteSuperindent()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">AddSiteSuperindent</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:21:44</td>   <td>-26550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.AddValidCrew()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">AddValidCrew</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:20:08</td>   <td>-122573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.AddValidSubProject()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">AddValidSubProject</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:22:43</td>   <td>32126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.DeleteCrew()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">DeleteCrew</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:24:30</td>   <td>139619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.DeleteSiteAdministrators()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">DeleteSiteAdministrators</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:25:13</td>   <td>182515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.DeleteSiteSuperindent()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">DeleteSiteSuperindent</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:21:07</td>   <td>-63291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.DeleteSubProject()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">DeleteSubProject</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:20:45</td>   <td>-85895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.EditSubProject()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">EditSubProject</td> 
  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="d6d59c">  <td>15/06/21 16:20:04</td>   <td>-126422</td> <td>&nbsp;</td><td title="&gt;&gt;SchedulingMode.LaunchApplication()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:20:07</td>   <td>-123625</td> <td>&nbsp;</td><td title="&gt;&gt;Projects.LaunchBrowser()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147066451</td>   <td></td> </tr>
<tr bgcolor="8b86b2">  <td>15/06/21 16:20:33</td>   <td>-97305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects.VerifySubproject()[pri:0, instance:com.BGCContracting.scheduling.Projects@56274d78]">VerifySubproject</td> 
  <td>main@1147066451</td>   <td></td> </tr>
</table>
